body{
    background:#07040499 !important;
}
#app{
    background: #07040499;
    color:white;
    position: relative;
    .news{
        position: fixed;
        width: 100%;
        z-index: 2;
        background: grey;
        .news-wrapper {
            display: flex;
            justify-content: center;
            padding-top: 12px;
        }
        .search{
            >.container{
                overflow-x: scroll;
                overflow-x: scroll;
                overflow-y: hidden;
                white-space: nowrap;
                padding:1.5em 10px;
                border-bottom:1px solid rgba(105, 105, 105, 0.527) ;
            }

            .input-group {
                width: fit-content;
            }

            
            div.ReactTags__tags {
                position: relative;
            }

            /* Styles for the input */
            div.ReactTags__tagInput {
                width: 200px;
                border-radius: 2px;
                display: inline-block;
            }
            div.ReactTags__tagInput input.ReactTags__tagInputField,
            div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
                height: 31px;
                margin: 0;
                font-size: 12px;
                width: 100%;
                border: 1px solid #eee;
                padding: 0 4px;
            }

            /* Styles for selected tags */
            div.ReactTags__selected span.ReactTags__tag {
                border: 1px solid #ddd;
                background: #eee;
                font-size: 12px;
                display: inline-block;
                padding: 5px;
                margin: 0 5px;
                cursor: move;
                border-radius: 2px;
            }
            div.ReactTags__selected a.ReactTags__remove {
                color: #aaa;
                margin-left: 5px;
                cursor: pointer;
            }

            /* Styles for suggestions */
            div.ReactTags__suggestions {
                position: absolute;
            }
            div.ReactTags__suggestions ul {
                list-style-type: none;
                box-shadow: .05em .01em .5em rgba(0,0,0,.2);
                background: white;
                width: 200px;
            }
            div.ReactTags__suggestions li {
                border-bottom: 1px solid #ddd;
                padding: 5px 10px;
                margin: 0;
            }
            div.ReactTags__suggestions li mark {
                text-decoration: underline;
                background: none;
                font-weight: 600;
            }
            div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
                background: #b7cfe0;
                cursor: pointer;
            }

            
        }
    }
    
    .stats{

    >.covid-countries{
        padding-top: 7.3em;
        .country-name{
            padding:3px 6px;
            font-size:18px;
        }
    }
    ul{
        list-style: none;
    }
    .data{ 
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        ul{
        border-color: transparent;
        width: fit-content;
        border-style: solid;
        display: flex;
        flex-direction: row;
        -webkit-overflow-scrolling: touch;
        margin: unset;
        margin: 8px 0px;
        li{
            h3{
                font-size:15px;
            }
            h6{
                font-weight: lighter;
            }
            padding:0.7em;
            font-size: 12px;
            min-height:50px;
            margin-right: 16px;
            max-height: 100px;
            min-width: 100px;
            margin: unset !important; 
            margin-right:7px !important ;
        }
    }
    }
}
}